

@media (max-width: 773868px) {
.img-add{
    justify-content: center;
    align-items: center;
}

.profile-pic{
    border: 4px solid black;
    align-items: center;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-image: url("profile pic.jpg");
    background-position: center;
    background-size: cover;
    margin-left: 120px;
}

.customer-card{
    height: 780px;
    width: 400px;
    background-color: rgba(6, 18, 63, 0.881);   
    border-radius: 40px;
    padding-top: 30px;
    margin-left: 80px auto;
    display: grid;
    color: white;
    justify-self: center;
    margin-bottom: 20px;
}
.home-view{
    padding-top: 90px;
    
}
.customers-table{
    display: flex;
    margin: 0px;
    margin-top:-66px;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-right: 30px;
}

.table-cust-row,.table-cust-data{
    padding: 10px;
    font-size: 20px;
    
}

.table-cust-data1,.table-cust-data2{
    padding: 0px;
    font-size: 20px;
    text-align: right;
    background-color: rgb(0, 0, 0);
    border:7px solid blue;
    border-radius: 40px;
    margin-top: 10px
}

.table-cust-head{
    margin-top: auto;
    padding-top: 0px;
    padding-bottom: 40px;
    text-align: right;
    text-align: center;
}
.table-cust-head2{
    margin-top: auto;
    padding-top: 0px;
    padding-left: 90px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 60px;
}

.bio{
    font-size: 10px;
}
.table-cust-data{
    text-align: left;
    padding-left: 0px;
    background-color: rgb(0, 0, 0);
    border:7px solid blue;
    padding-left: 14px;
    border-radius: 40px;
    text-align: center;

    
}
.table-cust-data2{
    padding-right: 10px;
    padding-left:40px;
    text-align: center;

}
.home-view{
    height: auto ;
    width: auto;
}
.add-customer-form{
    height: auto;
    width:450px;
    background-color: rgba(94, 56, 11, 0.582);
    border-radius: 20px;
    display: grid;
    justify-content: center;
}
.add-customer-form-ProfPic{
    height: 120px;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.616);
    margin-top: 40px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.566);
    padding-top: 13px;
    margin-left: 60px;
    margin-bottom: 50px;

}

.add-customer-form-table{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.input-data {
    height: 40px;
    margin-top: 20px;
    box-shadow: 4px 4px 4px 4px black;
}

.input-data-date{
    height: 40px;
    margin-top: 20px;
    box-shadow: 4px 4px 4px 4px black;
}

.add-customer-form-button{
    margin-left: 150px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:rgb(30, 204, 30); /* Circle background color */
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-customer-form-button:active{
    background-color:rgb(15, 96, 15);
    color: gray;
}

.add-customer-form-edit-btn{
    line-height:0px;
    width:80px;
    height: 40px;
    padding-bottom:10px;
    margin-Left: 30px;
    font-size: 20px;
}

.nav-buttons{
    font-size: 15px;
}

.add-customer-form-update-button{
    font-size: 20px;
}
}

@media (max-width: 780px) {

    .profile-pic {
        height: 100px;
        width: 100px;
        margin-left: 120px; 
    }

    .input-data:placeholder-shown, .input-data-date:placeholder-shown{
        font-size: 20px;
    }

    .input-data-date{
        font-size: 20px;
    }

    .customer-card {
        height: 550px;
        width: 380px;
        margin-left: 0px; 
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .customers-table {
        flex-direction: column; 
        margin-left: 20px;
        width: auto;
        margin-top: 0px;
    }

    .table-cust-data, .table-cust-data2 {
        font-size: 20px; 
        padding: 5px; 
        margin-top: 10px
    }

    .table-cust-head{
        margin: auto;
        margin-top: 20px;
    }

    .table-cust-head2{
        margin: auto; 
        padding-left: 10px;
        margin-top: 10px;
    }


    .add-customer-form {
        height: 450px;
        width: 180px;
        font-size: 20px; 
        padding-top: 10px; 
    }

    .add-customer-form-ProfPic {
        height: 100px;
        width: 100px;
        margin-left: 40px;
        margin-bottom: 10px; 
    }

    .input-data, .input-data-date {
        height: 55px;
        width: 260px; 
        box-shadow: 2px 2px 2px 2px black;
        margin-top: 40px;
        font-size: 20px;
    }

    .add-customer-form-button {
        margin-left: 80px;
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .home-view {
        height: auto;
        width:  auto;
        padding: 10px;
    }

    .add-customer-form{
        height: auto;
        width: 380px;
        font-size: 20px; 
        padding-top: 10px;
        padding-left: 30px;

    }
 
    .add-customer-form-edit-btn{
        line-height:0px;
        width:80px;
        height: 40px;
        padding-bottom:10px;
        margin-Left: 30px;
        font-size: 20px;
        
    }

    .nav-buttons{
        font-size: 15px;
    }

    .nav-buttons:hover{
        color: red;
    }
    
    .add-customer-form-update-button{
        font-size: 20px;
        
    }



}

@media (max-width: 480px) {

    .profile-pic {
        height: 80px;
        width: 80px;
        margin-left: 30px; 
    }

    .input-data:placeholder-shown, .input-data-date:placeholder-shown{
        font-size: 10px;
    }

    .customer-card {
        height: 500px ;
        width: 180px;
        margin-left: 0px; 
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .customers-table {
        flex-direction: column; 
        margin-left: 20px;
        width: auto;
        margin-top: 0px;
    }

    .table-cust-data, .table-cust-data2 {
        font-size: 10px; 
        padding: 5px; 
        margin-top: 10px
    }

    .table-cust-head{

        margin: auto;
        margin-top: 20px;
        font-size: 10px;
    }

    .table-cust-head2{
        margin: auto; 
        padding-left: 10px;
        margin-top: 10px;
        font-size: 10px;
    }


    .add-customer-form {
        height: 450px;
        width: 180px;
        font-size: 20px; 
        padding-top: 10px; 
        padding-left: 10px;

    }

    .add-customer-form-ProfPic {
        height: 80px;
        width: 80px;
        margin-left: 40px;
        margin-bottom: 10px; 
    }

    .input-data, .input-data-date {
        height: 25px;
        width: 160px; 
        box-shadow: 2px 2px 2px 2px black;
        margin-top: 10px;
        font-size: 10px;
    }

    .add-customer-form-button {
        margin-left: 80px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .home-view {
        height: auto;
        width:  auto;
        margin: auto;
    }
    
    .add-customer-form-edit-btn{
        line-height:7px;
        width:60px;
        height: 20px;
        padding-bottom:10px;
        margin-Left: 30px;
        font-size: 10px;
    }

    .nav-buttons{
        font-size: 15px;
    }
    .nav-buttons:hover{
        color: red;
    }

    .add-customer-form-update-button{
        font-size: 10px;
    }
}

